<div class="container-fluid">
    <table style="width:100%" class="table table-bordered">
        <thead>
          <tr>
            <td>
                <h5 class="card-title">Lars Kristian Roland <i class="fas fa-edit"></i></h5>
                <h6 class="card-text"><i class="fas fa-sm fa-birthday-cake"></i> 02/03/73</h6>
                <h6 class="card-text"><i class="fas fa-sm fa-house-user"></i> Nordengveien 85F, 0755 Oslo <i class="fas fa-sm fa-phone-square"></i> 90733036</h6>
                <span class="badge rounded-pill bg-danger">Kritisk info: Cave Penicilin</span>
            </td>
            <td>
                <h5 class="card-title">Tjenester og tiltak</h5>
                <h6 class="card-subtitle mb-2 text-muted"><a href="">Digital hjemmeoppfølging</a></h6>
                <h6 class="card-subtitle mb-2 text-muted"><a href="">Hjemmesykepleie</a></h6>
                <h6 class="card-subtitle mb-2 text-muted"><a href="">Legg til ny tjeneste</a></h6>
            </td>
            <td>
                <h5 class="card-title">Aktivitet</h5>
                <h6 class="card-subtitle mb-2 text-muted"><b><a href="">21/11/2021: Melding fra pasient</a></b></h6>
                <h6 class="card-subtitle mb-2 text-muted"><a href="">17/11/2021: Endring legemidler</a></h6>
                <h6 class="card-subtitle mb-2 text-muted"><a href="">17/11/2021: Epikrise</a></h6>
                <h6 class="card-subtitle mb-2 text-muted"><a href="">11/11/2021: Henvisning</a></h6>       
            </td>
            <td style="width: 30%;" class="align-top" rowspan="2">
                <app-consultation></app-consultation>
            </td>
          </tr>
          <tr>
            <td colspan="3">
                <div>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <!--
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Applikasjon
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="">En app</a></li>
                                    <li><a class="dropdown-item" href="">En annen app</a></li>
                                    <li><a class="dropdown-item" href="">En tredje app</a></li>
                                    </ul>
                                </li>-->
                                <li class="nav-item">
                                    &nbsp;
                                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="startFirstApp()">Oversikt</button>&nbsp;
                                    <button type="button" class="btn btn-outline-primary btn-sm">Sak</button>&nbsp;   
                                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="startThirdApp()">Journal</button>&nbsp;
                                    <button type="button" class="btn btn-outline-primary btn-sm">Diagnoser</button>&nbsp; 
                                    <button type="button" class="btn btn-outline-primary btn-sm">Tiltak</button>&nbsp;   
                                    <button type="button" class="btn btn-outline-danger btn-sm">Kjernejournal</button>&nbsp;   
                                    <button type="button" class="btn btn-outline-primary btn-sm">Legemidler</button>&nbsp;   
                                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="startSecondApp()">Labsvar</button>&nbsp;
                                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="startFourthApp()">Henvisning</button>&nbsp;  
                                    <button type="button" class="btn btn-outline-primary btn-sm">Rekvisisjon</button>&nbsp;  
                                    <button type="button" class="btn btn-outline-primary btn-sm">Timebok</button>&nbsp;                      
                                </li>       
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Velg skjema
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="">Et skjema</a></li>
                                    <li><a class="dropdown-item" href="">Et annet skjema</a></li>
                                    <li><a class="dropdown-item" href="">Et tredje skjema</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
    
                <div class="p-10">
                    <iframe [hidden]="!showWindowOne" [src]="appUrl1 | safe: 'resourceUrl'" width="100%" height="800" title="SMART app"></iframe>
                    <iframe [hidden]="!showWindowTwo" [src]="appUrl2 | safe: 'resourceUrl'" width="100%" height="800" title="SMART app"></iframe>
                    <iframe [hidden]="!showWindowThree" [src]="appUrl3 | safe: 'resourceUrl'" width="100%" height="800" title="SMART app"></iframe>
                    <iframe [hidden]="!showWindowFour" [src]="appUrl4 | safe: 'resourceUrl'" width="100%" height="800" title="SMART app"></iframe>
                </div>
            </td>
          </tr>
        </thead>
        </table>


    <!-- Icons from https://fontawesome.com/ -->
    <div class="row gx-5">
        <div class="px-4 p-2 gx-5 col-3 border bg-light">
                  
        </div>
        <div class="p-2 col-3 border bg-light">
                    
        </div>
        <div class="p-2 col-3 border bg-light">
   
        </div>        
        <div class="p-2 col-3 border bg-light">
            
        </div>
    </div>
    <div class="row gx-5">
        <div class="col-9 border bg-light">
            
        </div>
        <div class="p-3 gx-5 col-3 border bg-light">
            
        </div>
    </div>
    <div class="row gx-5">
        <div class="col-12 border bg-light">
            <div class="alert alert-warning" role="alert">
                This is not a real EHR. It's just used for demo purposes. 
              </div>            
        </div>
    </div>
</div>