<!--<img class="img-fluid" src="/assets/img/ihr.PNG" alt="image">-->
<div class="container-fluid">

    <div class="container">
        <div class="row">
          <div class="col">
            <label class="input-group-text" for="groups">Grupper</label>
            <select id="groups" class="form-select"  size="30" style="height: 80%;" multiple aria-label="multiple select example">
                <option value="1">Allergiutredning</option>
                <option value="2">Cøliaki</option>
                <option value="3">Diabetes</option>
                <option value="3">Generell sjekk</option>
                <option value="3">KG001 Hematologi</option>
                <option value="3">KG013 Jernstoffskiftet</option>
                <option value="3">KG038 Lipider og glukose</option>
                <option value="3">KG068 Gravid 12.-16. uke</option>
                <option value="3">KG163 Allergi: Matvareallergener</option>
              </select>
          </div>
          <div class="col">
            <label class="input-group-text" for="groups">Enkeltanalyser</label>
            <select id="groups" class="form-select" size="30" style="height: 80%;" multiple aria-label="multiple select example">
                <option value="1">B-hemoglobin</option>
                <option value="2">B-Hemoglobin i retikulocytter</option>
                <option value="3">B-HLA-B27</option>
                <option value="1">B-hemoglobin</option>
                <option value="2">B-Hemoglobin i retikulocytter</option>
                <option value="3">B-HLA-B27</option>
                <option value="1">B-hemoglobin</option>
                <option value="2">B-Hemoglobin i retikulocytter</option>
                <option value="3">B-HLA-B27</option>
                <option value="1">B-hemoglobin</option>
                <option value="2">B-Hemoglobin i retikulocytter</option>
                <option value="3">B-HLA-B27</option>
                <option value="1">B-hemoglobin</option>
                <option value="2">B-Hemoglobin i retikulocytter</option>
                <option value="3">B-HLA-B27</option>
                <option value="1">B-hemoglobin</option>
                <option value="2">B-Hemoglobin i retikulocytter</option>
                <option value="3">B-HLA-B27</option>
                <option value="1">B-hemoglobin</option>
                <option value="2">B-Hemoglobin i retikulocytter</option>
                <option value="3">B-HLA-B27</option>
                <option value="1">B-hemoglobin</option>
                <option value="2">B-Hemoglobin i retikulocytter</option>
                <option value="3">B-HLA-B27</option>
                <option value="1">B-hemoglobin</option>
                <option value="2">B-Hemoglobin i retikulocytter</option>
                <option value="3">B-HLA-B27</option>
                <option value="1">B-hemoglobin</option>
                <option value="2">B-Hemoglobin i retikulocytter</option>
                <option value="3">B-HLA-B27</option>
                <option value="1">B-hemoglobin</option>
                <option value="2">B-Hemoglobin i retikulocytter</option>
                <option value="3">B-HLA-B27</option>
              </select>
          </div>
          <div class="col-6">
            <label class="input-group-text" for="selected">Valgte analyser</label>
            <table id="selected" class="table table-striped table-hover">
                <tr><th scope="col">#</th><th scope="col">Analyse</th><th scope="col">Till. oppl.</th><th scope="col">Prøvet. lege</th></tr>
                <tr><th scope="row">1</th><td>A-IgE anti-Alternaria (M6)</td><td></td><td></td></tr>
                <tr><th scope="row">2</th><td>B-Folat</td><td></td><td></td></tr>
                <tr><th scope="row">3</th><td>Bakterie dyrkning Urin</td><td></td><td></td></tr>
            </table>
            <div class="float-right">
                    <button type="button" class="btn btn-dark btn-sm float-right">Lagre og forbered prøvetagning</button>&nbsp;
                    <button type="button" class="btn btn-dark btn-sm float-right">Lagre</button>&nbsp;
            </div>
          </div>
        </div>
      </div>
</div>
