<div class="container-fluid">
    <div class="row gy-10 py-2">
      <div class="col">
        <div class="car shadow" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Kritisk informasjon</h5>
              <h6 class="card-subtitle mb-2 text-muted">Hentet fra Kjernejournal</h6>
              <p class="card-text">Cave Penicilin<br>Får blodtrykksfall ved vepsestikk</p>
              <a href="#" class="card-link">Åpne Kjernejournal</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card shadow" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Besøkshistorikk</h5>
              <h6 class="card-subtitle mb-2 text-muted">Hentet fra Kjernejournal</h6>
              <p class="card-text"><a href="">12.5.21: OUS</a><br>
                <a href="">13.7.21: OUS</a><br>
                <a href="">15.10.21: OUS</a></p>
              <a href="#" class="card-link">Se Besøkshistorikk</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card shadow" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Dokumentliste</h5>
              <h6 class="card-subtitle mb-2 text-muted">Hentet fra Kjernejournal</h6>
              <p class="card-text"><a href="">12.5.21: Henvisning</a><br>
              <a href="">20.5.21: Labrapport</a><br>
              <a href="">21.5.21: Epikrise</a></p>
              <a href="#" class="card-link">Se hele dokumentlisten</a>
            </div>
          </div>
      </div>      
      <div class="col">
        <div class="card shadow" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Legemidler</h5>
              <h6 class="card-subtitle mb-2 text-muted">Hentet fra SFM</h6>
              <p class="card-text">Imigran 100mg<br>Zyrtec 10mg</p>
              <a href="#" class="card-link">Åpne Legemidler</a>
            </div>
          </div>
      </div>   
    </div>
    <div class="row py-2">
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Dette er ikke en ekte EPJ</h5>
                <h6 class="card-subtitle mb-2 text-muted">Denne er laget for å diskutere</h6>
                <p class="card-text">Denne applikasjonen har tydelige feil og mangler, men er laget slik for å kunne snakke om EPJ som plattform, ikke for at den skal være helt riktig som EPJ.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Dette er ikke en ekte EPJ</h5>
                <h6 class="card-subtitle mb-2 text-muted">Denne er laget for å diskutere</h6>
                <p class="card-text">Denne applikasjonen har tydelige feil og mangler, men er laget slik for å kunne snakke om EPJ som plattform, ikke for at den skal være helt riktig som EPJ.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Dette er ikke en ekte EPJ</h5>
                <h6 class="card-subtitle mb-2 text-muted">Denne er laget for å diskutere</h6>
                <p class="card-text">Denne applikasjonen har tydelige feil og mangler, men er laget slik for å kunne snakke om EPJ som plattform, ikke for at den skal være helt riktig som EPJ.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>      
        <div class="col">
            <div class="card shadow" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Dette er ikke en ekte EPJ</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Denne er laget for å diskutere</h6>
                  <p class="card-text">Denne applikasjonen har tydelige feil og mangler, men er laget slik for å kunne snakke om EPJ som plattform, ikke for at den skal være helt riktig som EPJ.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
          </div>   
      </div>
      <div class="row py-2">
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Dette er ikke en ekte EPJ</h5>
                <h6 class="card-subtitle mb-2 text-muted">Denne er laget for å diskutere</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Dette er ikke en ekte EPJ</h5>
                <h6 class="card-subtitle mb-2 text-muted">Denne er laget for å diskutere</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Dette er ikke en ekte EPJ</h5>
                <h6 class="card-subtitle mb-2 text-muted">Denne er laget for å diskutere</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>      
        <div class="col">
            <div class="card shadow" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Dette er ikke en ekte EPJ</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Denne er laget for å diskutere</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
          </div>   
      </div>
  </div>
